{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container text-center mt-5">

  <h2 class="titulo">Bienvenido</h2>
  <p class="subtitulo">Selecciona una opción del menú</p>

  <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">

    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">
      <i class="bi bi-table"></i> Dashboard
    </a>

    <a href="{{ url_for('proceso') }}" class="btn btn-outline-dark">
      <i class="bi bi-diagram-3"></i> Por proceso
    </a>

    <a href="{{ url_for('planta') }}" class="btn btn-outline-dark">
      <i class="bi bi-building"></i> Por planta
    </a>

    <a href="{{ url_for('upload_form') }}" class="btn btn-success">
      <i class="bi bi-upload"></i> Subir Excel
    </a>

  </div>

</div>

{% endblock %}