<nav class="navbar-custom">
  <ul class="menu">
    <li><a href="{{ url_for('index') }}">Inicio</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)">Carga de trabajo ▾</a>
      <ul class="submenu">
        <li><a href="{{ url_for('proceso') }}">Por proceso</a></li>
        <li><a href="{{ url_for('planta') }}">Por planta</a></li>
      </ul>
    </li>

    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('pivot') }}">Tabla dinámica</a></li>
    <li><a href="{{ url_for('turnos') }}">Turnos</a></li>
    <li><a href="{{ url_for('maquina_turnos') }}">Máquina Turnos</a></li>
    <li><a href="{{ url_for('upload_form') }}">Subir Excel</a></li>
  </ul>

  <div class="user-box">
    <span>
      <i class="bi bi-person-circle"></i>
      {{ session.get('user', 'Usuario') }}
    </span>

    <a href="{{ url_for('logout') }}" class="btn btn-outline-light btn-sm">
      <i class="bi bi-box-arrow-right"></i> Salir
    </a>
  </div>
</nav>
